.symptomsContainer li{
    list-style-type: none;
    padding: 5px 15px;
    padding-bottom: 8px;
    border-radius: 15%;
    display: inline-block;
    margin: 3px 3px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.delete {
    border: 1px solid #d35400;
    color: #d35400;
}

.delete:hover{
    background-color: #d35400;
    color: white;
}

.add {
    border: 1px solid #2ecc71;
    color: #3498db;
}

.add:hover{
    background-color: #2ecc71;
    color: white;
}

.larger-150 {
    font-size: 150%;
}